In [4]:
import random
names = []

#student_1.....student_50
for i in range(1,51):
  names.append('student_'+ str(i))

print(names)
# if you indent the print the output is different. More of a cascading

['student_1', 'student_2', 'student_3', 'student_4', 'student_5', 'student_6', 'student_7', 'student_8', 'student_9', 'student_10', 'student_11', 'student_12', 'student_13', 'student_14', 'student_15', 'student_16', 'student_17', 'student_18', 'student_19', 'student_20', 'student_21', 'student_22', 'student_23', 'student_24', 'student_25', 'student_26', 'student_27', 'student_28', 'student_29', 'student_30', 'student_31', 'student_32', 'student_33', 'student_34', 'student_35', 'student_36', 'student_37', 'student_38', 'student_39', 'student_40', 'student_41', 'student_42', 'student_43', 'student_44', 'student_45', 'student_46', 'student_47', 'student_48', 'student_49', 'student_50']

In [10]:
birth_year = []
#loops dont go through random selection
for i in range (50):
  birth_year.append(random.randint(1988,2002))
#seems to have different out puts from others. add random.seed(
    
)
print (birth_year)

[1990, 1995, 1998, 2000, 1996, 1996, 1989, 1990, 2000, 1988, 1999, 2002, 1988, 1995, 1999, 1990, 1995, 1989, 1989, 1988, 1999, 1989, 1993, 1994, 1991, 2002, 1988, 1988, 1994, 1993, 1995, 1992, 1988, 1992, 1995, 1992, 1996, 1994, 2001, 1992, 1995, 1996, 1999, 1997, 1989, 1994, 2001, 1993, 1996, 1994]

In [12]:
random.seed(3)#3 is a random number and provides synchronised answers with others.
birth_year = []
#loops dont go through random selection
for i in range (50):
  birth_year.append(random.randint(1988,2002))

print (birth_year)

[1991, 1997, 1996, 1990, 1993, 2002, 1997, 1995, 1998, 1997, 1989, 1997, 1988, 2002, 2001, 1995, 1992, 1996, 1991, 1991, 1999, 1995, 1996, 2001, 1996, 1995, 1994, 1998, 2001, 1990, 1991, 1998, 1990, 2001, 2002, 1996, 1994, 1999, 1988, 1998, 2000, 1989, 1990, 2000, 1997, 1988, 1992, 2000, 1988, 2001]

In [13]:
b2= []
for i in range(50):
  b2.append(random.randrange(1988,2002))
print (b2)

[2001, 1992, 1995, 1997, 1999, 1994, 1999, 2000, 1994, 1994, 1999, 2000, 1997, 1995, 1990, 1993, 1989, 1988, 1990, 1995, 1991, 1992, 1998, 1994, 2000, 1998, 2001, 1992, 1994, 1996, 2001, 1994, 1997, 1993, 1996, 1997, 1994, 1997, 1991, 1993, 1998, 1988, 2001, 1992, 1997, 1998, 1999, 1990, 1999, 2001]

In [15]:
student_attitde = []
num = 0
while num<50:
  student_attitde.append(random.choice(['positive', 'Neutral', 'Negative']))
  num +=1 #same as num = num + 1

print(student_attitde)
print(len(student_attitde))

['Negative', 'Neutral', 'positive', 'Negative', 'positive', 'Neutral', 'Neutral', 'Neutral', 'positive', 'Neutral', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Negative', 'Negative', 'Negative', 'Negative', 'positive', 'Negative', 'Negative', 'Neutral', 'Neutral', 'Negative', 'Negative', 'Negative', 'positive', 'Neutral', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Negative', 'Neutral', 'positive', 'Neutral', 'Negative', 'Neutral', 'positive', 'Neutral', 'Negative', 'Negative', 'Negative', 'positive', 'positive', 'Negative', 'Negative', 'Neutral', 'Neutral', 'Neutral']
50

In [16]:
random.choice?#creates a help tab

In [20]:
student_score = []
#from 0.100

for i in range (50):
  student_score.append(random.randint(0,100))

print (student_score)

[12, 13, 76, 41, 42, 86, 28, 56, 21, 10, 43, 94, 83, 27, 72, 57, 34, 28, 100, 15, 4, 67, 24, 40, 73, 23, 35, 43, 82, 10, 79, 44, 75, 16, 53, 37, 66, 34, 59, 44, 81, 53, 37, 53, 72, 52, 4, 52, 19, 25]